@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::after, *::before {
   box-sizing: border-box;
}

html {
   font-size: 14.5px;
   /* font-size: 15px; */
}

body {
   /* background-color: #f7d6e7;
   background-color: #f9e4ef;
   background-color: #baa6ca;
   background-color: #917e99; */
   /* background-color: #c1b6d4; */
   /* background-color: #ad9fc5; */
   /* background-color: #a293bb; */
   background-color: #ebe6f0;
   background-image: linear-gradient(180deg, #b283db, #ffcbf7, #f7d6e7, #ebe6f0);
   background-image: linear-gradient(0deg, #b283db, #ffcbf7, #f5d7e3, #ebe6f0);
   background-image: linear-gradient(0deg, #4f4d6f, #b283db, #ffcbf7, #f5d7e3, #ebe6f0);
   background-image: linear-gradient(0deg, rgb(79 77 111 / 50%), #a98cc3, #ffcbf7, #f5d7e3, #ebe6f0);
   background-image: linear-gradient(0deg, #baa6ca, #ffcbf7, #f5d7e3, #ebe6f0);
   background-image: linear-gradient(0deg, #baa6ca, #f1d3ec, #f5d7e3, #ebe6f0);
   background-image: linear-gradient(0deg, #ccbfd7, #edd9ea, #f3e2e9, #ebe6f0);
   background-image: linear-gradient(0deg, rgb(186 166 202 / 70%), rgb(241 211 236 / 80%), rgb(245 215 227 / 80%), rgb(235, 230, 240));
   min-height: 100vh;
   color: #545270;
   color: #3f3d58;
   color: #302f3f;
   color: #2b2a3f;
   color: #424250;
   color: #4a4a5e;
   color: #3e3e50;
   font-family: 'Noto Sans', sans-serif;
   font-family: 'Lato', sans-serif;
   line-height: 1.45;
   margin: 0;

   background-image: linear-gradient(0deg, rgb(186 166 202 / 70%), rgb(241 211 236 / 80%), rgb(245 215 227 / 80%), rgb(235, 230, 240));
   background-image: linear-gradient(0deg, rgb(212 198 223 / 70%), rgb(239 218 236 / 80%), rgb(253 234 242 / 80%), rgb(235, 230, 240));
}

body::before {
   /* background-image: url('/img/img/mochibagelbaby-nobg.png');
   background-repeat: no-repeat;
   display: block; */
   /* content: "/img/mochibagelbaby-nobg.png"; */
   /* width: 16px; */
   content: " ";
   background-image: url(/img/mochibagelbaby-nobg.png);
   /* position: absolute; */
   /* left: -16px; */
   /* top: -6px; */
   z-index: 999;
}

h1 {
   font-size: 3.25em;
   font-size: 3.375em;
   /* font-size: 3.5em; */
   color: white;
   color: wheat;
   color: #ffe68c;
   color: #ffeba5;
   color: #ffe899;
   color: #49416a;
   color: #6b5da3;
   color: #4e4183;
   color: #584b8d;
   color: #5e5389;
   color: #666597;
   color: #545389;
   color: #5e5d8b;
   color: #575681;

   color: #535785;
   color: #44487a;

   /* color: #52518d; */
   /* color: #ffe486; */
   /* color: #ffd486; */
   font-family: 'EB Garamond',serif;
   margin-bottom: 0.425em;
   margin-bottom: 0.325em;
   margin-bottom: 0.375em;
   transition: all .2s ease;
}

h1:hover {
   /* letter-spacing: 1.5px; */
   color: #404872;
}

h1 .title-inline {
   font-size: 2.25rem;
   font-size: 2rem;
   color: #49416a;
   color: #3d3c62;
   color: #42416a;
   color: #515072;
   color: #494866;
   color: #535785;
   margin-top: -0.05em;
   margin-top: -0.2em;
   font-family: 'Noto Serif JP', serif;
   color: #676493;
   color: #6b68a1;
   transition: all .1s ease;
   letter-spacing: 0 !important;
   font-size: 1.25rem;
   font-family: 'Lato', sans-serif;
   font-weight: 600;
   color: #787b99;
   color: #646893;
}

h1 .title-inline:hover {
   color: #646893;
}

h2, h3, h4, h5, h6, p {
   margin: 0.875em 0;
}

h3 {

}

p {
   /* font-size: 14px; */
   text-indent: 2.5em;
   line-height: 1.5;
}

p.b {
   /* font-size: 1.05em; */
   /* font-size: 14.5px; */
   font-weight: bold;
}

a {
   text-decoration: none;
   font-weight: 400;
   font-weight: 600;
   color: #524b8d;
   color: #4e4d76;
   color: #514c7c;
   color: #637ac7;
   color: #5267af;
   color: #5867b1;
   color: #5161af;
   color: #465499;
   /* color: #433678; */
   transition: all .08s ease;
   cursor: pointer;
}

a:hover {
   text-decoration: underline;
   color: #413d78;
   color: #465499;
   color: #37437e;
   /* color: #5e6db6; */
   /* background-color: #ecb1e6;
   background-color: #edb8e7;
   background-color: #edb8e7;
   background-color: #f7c9f2;
   background-color: #fbcef6;
   background-color: #eae1fb;
   background-color: #e8dcff;
   background-color: #ddd1f3; */
   border-radius: 3px;
   /* color: #342962; */
}

ul, ol {
   padding-inline-start: 20px;
   padding-inline-start: 18px;
   margin: 0.5em 0;
}

hr {
   margin: 2em 0;
   height: 0px;
   border: none;
   border-bottom: 4px dotted #d7d0d9;
   border-bottom: 1px dotted #d1ccd3;
   margin: 2.125em auto 2em;
   border-bottom: 1px dotted #b4afb7;
   margin: 1em auto;
}

.content-container {
   /* padding: 2em 0; */
   max-width: 960px;
   max-width: 1024px;
   /* max-width: 920px; */
   /* max-width: 860px; */
   /* max-width: 760px; */
   /* max-width: 720px; */
   /* max-width: 680px; */
   margin: auto;
}

.col-right {
   width: 30%;
   width: 29%;
   width: 28%;
   width: 27.5%;
   margin-left: 2em;
   margin-left: 2.125em;
   position: relative;
}

.col-left {
   width: 70%;
   width: 71%;
   width: 72%;
   width: 71.5%;
}

.col-right>div {
   margin-bottom: 1.25em;
   box-shadow: rgb(133 127 139 / 10%) -4px 4px 12px;
}

.col-right>div:hover .h-jp {
   color: #637ac7;
   color: #5c74c4;
}

.col-right>div p {
    margin: 0;
    font-size: 13.5px;
    text-indent: 0;
}

.header {
   text-align: center;
   margin: 4em 0 3em;
   margin: 4em 0 2.75em;
   margin: 3.25em 0 2.75em;
   margin: 3em 0 2.75em;
   margin: 3em 0 2.25em;
   margin: 3em 0 3.5em;
}

.header-img {
   /* background-color: #ffffff; */
   /* background-color: #525070; */
   /* background-color: #9594af; */
   /* background-color: #8d8b9f; */
   padding: 0.375em;
   padding: 0.3em;
   /* padding: 0.275em; */
   /* padding: 0.2875em; */
   background-color: #fff2c6;
   background-color: #f5f1e2;
   /* background-color: #fff5d2; */
   /* background-color: #6b5ea4; */
   background-color: #e7e2d7;
   background-color: #dfd5be;
   background-color: #8a8a9f;
   background-image: linear-gradient(291deg, #818197, #8a8a9f, #a8a8b9);
   background-image: linear-gradient(291deg, #8a8a9f, #a8a8b9);
   background-image: linear-gradient(291deg, #818197, #a8a8b9);
   background-image: linear-gradient(300deg, #8a8aa1, #a8a8b9);
   background-image: linear-gradient(300deg, #84849b, #a8a8b9);
   background-image: linear-gradient(280deg, #84849b, #a8a8b9, #b6b6c5);
   background-image: linear-gradient(320deg, #626587, #84849b, #a8a8b9, #b6b6c5);

   background-image: linear-gradient(320deg, #626587, #84849b, #a8a8b9, #bebecf);
   background-image: linear-gradient(340deg, #575a7a, #827894, #84849b, #a8a8b9, #b9b0c5);
   background-image: linear-gradient(10deg, #626587, #84849b, #a8a8b9, #a39db3, #bebecf);
   /* background-color: #a8a8b9; */
   /* background-color: #ede5d2; */
   /* background-color: #fbf0f4; */
   /* background-color: #e3d7dc; */
   /* background-color: #ede5e8; */
   box-shadow: rgb(152 93 163 / 80%) 0px 4px 24px;
   box-shadow: rgb(93 45 102 / 80%) 0px 4px 24px;
   box-shadow: rgb(77 45 102 / 40%) 0px 4px 24px;
   box-shadow: rgb(24 14 32 / 30%) 0px 4px 24px;
   /* box-shadow: rgba(59, 34, 78, 0.4) 0px 4px 24px; */
   border-radius: 8px;
   border-radius: 6px;
   border-radius: 10%;
   /* border-radius: 10px; */
   width: 14%;
   display: flex;
   align-items: center;
   margin: auto;
   transition: all .3s ease;
}

.header-img:hover {
   margin-top: -0.2em;
   margin-bottom: 1.7em;
   margin-top: -0.4em;
   margin-top: -0.3em;
   margin-bottom: 1.9em;
   margin-bottom: 1.65em;
   margin-bottom: 1.55em;
   box-shadow: rgba(61, 47, 73, 0.35) 2px 8px 38px;
   box-shadow: rgba(61, 47, 73, 0.35) 2px 8px 46px;
   border-radius: 14px;
   border-radius: 10%;
   border-radius: 12%;
   /* border-radius: 18px; */
   background-image: linear-gradient(340deg, #575a7a, #626587, #84849b, #a8a8b9, #cfcfdb);
   background-image: linear-gradient(340deg, #575a7a, #626587, #84849b, #a8a8b9, #b9b0c5);
   background-image: linear-gradient(340deg, #575a7a, #827894, #84849b, #a8a8b9, #b9b0c5);
   background-image: linear-gradient(320deg, #626587, #84849b, #a8a8b9, #bebecf);
   background-image: linear-gradient(20deg, #626587, #84849b, #a8a8b9, #bebecf);
   background-image: linear-gradient(340deg, #575a7a, #827894, #84849b, #a8a8b9, #b9b0c5);
   /* background-image: linear-gradient(345deg, #626587, #84849b, #a8a8b9, #cfcfdb); */
   /* background-image: linear-gradient(340deg, #626587, #8b8bad, #a8a8b9, #cfcfdb); */
   }

.header-img:hover .profile-image {
   border-radius: 10px;
   border-radius: 9%;
   border-radius: 11%;
   /* border-radius: 14px; */
   transition: all .2s ease;
   /* transform: scaleX(1); */
}

.profile-image {
   border-radius: 4px;
   border-radius: 9%;
   /* border-radius: 6px; */
   /* border-radius: 8px; */
   width: 100%;
   transition: all .3s ease;
   transform: scaleX(-1);
}

.title-inline {
   display: block;
}

.greeting {
   margin-bottom: 0;
   margin-top: 1em;
   margin-top: 1.2em;
   margin-top: 1em;
   font-size: 1.25em;
   /* font-family: 'Source Code Pro', monospace; */
   /* color: #575681; */
   /* color: #615681; */
}

.greeting:hover {
   /* letter-spacing: 1px; */
}

.home-intro {
   display: flex;
   align-items: center;
   background-image: linear-gradient(315deg, rgb(133 133 156 / 28%), rgb(155 133 156 / 18%));
   background-image: linear-gradient(315deg, rgb(133 133 156 / 28%), rgb(190 170 191 / 18%));
   background-image: linear-gradient(15deg, rgb(133 133 156 / 28%), rgb(190 170 191 / 18%));
   border: 1px solid rgb(194 177 205 / 30%);
   border-radius: 6px;
   color: #3d3d4c;
   margin: 2em auto 0;
   margin: 0.75em auto 0;
   padding: .9375em;
   width: 66%;
   width: 72%;
   width: 90%;
   transition: all 6s ease-in-out;
   transition: all .3s ease-in-out;
}

.home-intro:hover {
   background-image: linear-gradient(340deg, rgb(116 116 151 / 28%), rgb(181 125 145 / 18%));
   background-image: linear-gradient(240deg, rgb(116 116 151 / 28%), rgb(181 125 145 / 18%));
   /* border: 1px solid rgb(194 177 205 / 60%);
   border: 1px solid rgb(202 177 205 / 60%);
   border: 1px solid rgba(192, 173, 194, 0.6); */
   background-image: linear-gradient(340deg, rgb(116 116 151 / 28%), rgb(222 216 233 / 40%));
   background-image: linear-gradient(15deg, rgb(116 116 151 / 28%), rgb(222 216 233 / 40%));
   /* border: 1px solid rgb(206, 198, 215);
   border: 1px solid #c9bfd2; */
   border: 1px solid rgb(201 191 210 / 60%);
   border: 1px solid #d5c9dd;
   transition: all 1.5s ease-in-out;
}

.home-intro:hover .intro-icon {
   color: #697cc0;
   color: #6379c6;
   /* color: #485389; */
   transition: all .2s ease;
}

.home-intro:hover .intro-highlight {
   /* background-color: #ffffbd;
   background-color: #fbf1de;
   background-color: #fff1d6;
   background-color: #fff4dd; */
   /* background-color: #f1e9ff; */
   /* background-color: #ebe9ff; */
   color: #4d5185;
}

.intro-author {
   font-weight: 600;
}

.intro-author:hover .h-jp {
   /* color: #637ac7; */
}

.intro-icon {
   font-size: 32px;
   font-size: 30px;
   padding: 0 .5rem 0 1.125rem;
   color: #d9a0de;
   color: #49416a;
   color: #a897b5;
   color: #6f6b7e;
   color: #817c93;
   color: #6e6a81;
   color: #757187;
   color: #5f5c6e;
   color: #666374;
   color: #53506a;
}

.intro-en {
   margin: 0;
   font-size: 14px;
}

.intro-highlight {
   /* color: #5d4472; */
   /* color: #5b4b6e; */
   /* color: #605074; */
   /* color: #4e405e; */
   /* color: #674472; */
   color: #544472;
   color: #584472;
   color: #4f4472;
   color: #575681;
   color: #4e4d76;
   color: #5c5b93;
   color: #5b5d93;
   color: #4e4d76;
   font-style: italic;
   font-weight: bold;
   /* background-color: #ffff93; */
   /* background-color: #ffffbd; */
   /* background-color: #544660; */
   border-radius: 2px;
   padding: 0 0.25em;
   transition: all .2s ease;
}

.intro-highlight:hover {
   /* background-color: #ffffbd; */
   /* background-color: #fbf1de; */
   /* background-color: #fff1d6; */
   /* letter-spacing: .125px; */
   color: #4d5185;
}

.intro-jp {
   font-size: .725em;
   font-size: .7em;
   font-size: .625em;
   font-size: .65em;
   /* font-size: .675em; */
   opacity: .5;
   /* opacity: .75; */
   width: 86%;
   width: 80%;
   /* width: 68%; */
   margin: 1.5em auto 2em;
   color: #515162;
   color: #616174;
   /* font-weight: 600; */
   font-family: 'Noto Serif JP', serif;
   font-weight: 500;
   font-family: 'Murecho', sans-serif;
   font-weight: 400;
}

.intro-kr {
   font-size: .725em;
   opacity: .5;
   width: 80%;
   margin: 1.5em auto 2em;
   color: #616174;
   font-family: 'Murecho', sans-serif;
   font-weight: 400;
}

.content {
   display: flex;
   margin-bottom: 5em;
}

.content-table {
   background-color: #8a7892;
   background-color: rgb(138 120 146 / 30%);
   background-color: rgb(130 120 146 / 25%);
   background-color: rgb(206 194 217 / 75%);
   background-color: rgb(202 192 211 / 80%);
   background-color: rgb(209 192 211 / 80%);
   background-color: rgb(209 192 211 / 100%);
   /* box-shadow: rgb(133 127 139 / 10%) -4px 8px 12px; */
   /* box-shadow: rgb(133 127 139 / 8%) -6px 8px 12px; */
   border: 1px solid #cebccf;
   border-radius: 6px;
   /* width: 30%; */
   /* width: 28%; */
   height: fit-content;
   /* margin-right: 2em; */
   /* background-image: linear-gradient(0deg, #a9a9c7, #d1c0d3); */

   background-image: linear-gradient(0deg, #d1c0d3, #c9accd);
   background-image: linear-gradient(-45deg, #d1c0d3, #e3d5e5, #ede5d2);
   background-image: linear-gradient(-45deg, #d1c0d3, #e3d5e5, #ffedf4);
   background-image: linear-gradient(-45deg, #d1c0d3, #e3d5e5, #e7d0d9);
   background-image: linear-gradient(-45deg, #c1a5c5, #cfc2df, #ebe2df);
   background-image: linear-gradient(-45deg, #c4b1db, #e9b8e3, #fbeade);
   background-image: linear-gradient(-45deg, #c4b1db, #f3c8dd, #fbeade);
   background-image: linear-gradient(-45deg, #c4b1db, #f1d7e4, #fbeade);
   background-image: linear-gradient(-45deg, #c4b1db, #f9e4ef, #fbeade);
   border: 1px solid #dccfdd;
   border: 1px solid #d8cbd9;
   border: 2px solid #e9d8e8;
   border: 1px solid #d3c6db;
   border: 1px solid #ddc1d1;
   /* border: 1px solid #e5cedb; */

   /* position: sticky;
   top: 1.25em; */
   z-index: 9;
}

.content-table:hover .kanna-img  {
   opacity: .5;
   transition: all .4s ease;
}

.content-table:hover .content-table-icon {
   color: #697cc0;
   color: #6379c6;
   color: #5064ab;
   color: #485389;
   color: #50577a;
   transition: all .3s ease;
}

/* .content-table:hover .h-jp {
   color: #637ac7;
   color: #5c74c4;
} */

.content-table-wrap {
   padding: 1.5em;
   padding: 1.125em 1.125em 0;
}

.content-table-icon {
   color: #86778d;
   color: #5e5c6e;
   color: #666374;
   color: #53506a;
   margin-right: 0.125em;
   margin-right: 0.25em;
   font-size: .975em;
}

.content-table a {
   color: #413d78;
   color: #4f4472;
   color: #4f518b;
}

.content-table a:hover {
   /* background-color: #ddd1f3; */
   /* background-color: #fff7fb; */
   /* background-color: #e7cff9;
   background-color: #fdd7e1;
   background-color: #e4d7fd;
   background-color: #fbd4f6;
   background-color: #ffd2f9; */
   /* background-color: #eae1fb; */
   /* background-color: #d7effd;
   background-color: #d7fdf8;
   background-color: #d7fde8;
   background-color: #c7e9e1; */
   /* background-color: #f4ffd3;
   background-color: #fffadf;
   background-color: #fffaeb;
   background-color: #fff4df; */
   /* background-color: #fff8df; */
   /* background-color: transparent; */
   /* color: #524b8d;  */
   text-decoration: underline;
   color: #4f518b;
   color: #4f4472;
   color: #443869;
   /* color: #52559c; */
}

.content-table a:hover .h-jp {
   /* color: #637ac7; */
}

.content-table ul {
   font-size: 14.25px;
}

.content-table ul:last-child {
   margin-bottom: 0.25em;
}

.content-table li {
   color: #f2edf3;
   color: #f9f7f9;
   color: #5f5c6e;
   color: #8c8396;
   color: #9d94a7;
   transition: all .3s ease;
}

.content-table li:hover {
   color: #5f5c6e;
   color: #504d5e;
   color: #4a4261;
   /* color: #444255; */
}

.content-table-title {
   margin: 0 0 0.5em;
   font-size: 1.25em;
   font-size: 1.2em;
   font-size: 1.125em;
   font-size: 15.25px;
   font-size: 16px;
}

.content-table-title:hover .h-jp {
   color: #637ac7;
}

.content-table-item-jp {
   font-size: 94%;
}

.infobox__about-me {
   background-image: linear-gradient(15deg, rgb(116 116 151 / 28%), rgb(222 216 233 / 40%));
   border: 1px solid #d5c9dd;
   background-image: linear-gradient(15deg, rgb(116 116 151 / 40%), rgb(222 216 233 / 60%));
   background-image: linear-gradient(15deg, rgb(142 142 183 / 40%), rgb(222 216 233 / 60%));
   border: 1px solid #cec2d7;
   padding: 1.125em;
   border-radius: 6px;
}

.infobox.one {
   padding: 1.125em;
   background-image: linear-gradient(-45deg, #c4b1db, #f9e4ef, #fbeade);
   background-image: linear-gradient(-45deg, #bfbee3, #e3efed, #f0f3f0);
   background-image: linear-gradient(-45deg, #bfbee3, #f0f7f6, #f0f3f0);
   background-image: linear-gradient(-45deg, #bfbee3, #ebefee, #f1f1f1);
   border: 1px solid #ddc1d1;
   border-radius: 6px;
}

.post {
   margin-right: 0;
   margin-bottom: 1.25em;
   margin-bottom: 1.5em;
   /* width: 30%; */
   /* width: 72%; */
   background-color: #dfd5be;
   background-color: #f5eef1;
   background-color: rgb(251 246 248 / 90%);
   box-shadow: rgb(133 127 139 / 10%) 4px 8px 12px;
   padding: 2em;
   padding: 2em 2.5em;
   padding: 2em 2.25em;
   padding: 1.75em 2em;
   padding: 1.9375em 2em;
   padding: 1.9375em 2em 1.75em;
   /* padding: 1.75em 1.5em 1.5em; */
   border-radius: 6px;
   border: 1px solid #dfcad8;
   border: 1px solid #e3d5de;
}

.post>h2 {
   margin-top: 0 !important;
}

.post h2 {
   width: 90%;
   margin: 0.75em auto 0.825em;
   margin: 0.75em auto 0.875em;
   font-size: 1.625em;
   font-size: 1.575em;
   font-size: 1.5875em;
   /* font-size: 1.55em; */
   transition: all .1s ease;
   line-height: 1.325;
}

/* .post h2:hover .h-jp {
    color: #637ac7;
} */

.post h2:hover .h2-icon {
   transition: all .1s ease;
   opacity: 1;
}

.post:hover .h-jp {
   color: #637ac7;
   color: #5c74c4;
   /* color: #5b74c7; */
}

.post h3 {
   margin-top: -.375em;
   line-height: 1.425;
   font-size: 1.125em;
}

.h2-icon {
   /* color: pink;
   color: #e8ace4;
   color: #af7ebe;
   color: #9a7ebe;
   color: #977ebe;
   color: #a27ebe; */
   /* color: #9570b3; */
   /* color: #a263b5; */
   /* color: #8e63b5; */
   /* margin-right: 0.25em; */
   width: 24px;
   width: 22px;
   margin: 0 0.275em -0.0875em 0;
   margin: 0 0.5em -0.0875em 0;
   opacity: .925;
}

.post p {
   font-size: 15px;
}

.post p:last-child {
   /* margin-bottom: 0;
   margin-top: -0.875em;
   margin-top: 0; */
}

.h2-icon.r {
   margin-right: 0;
}

.jp-translation {
   background-color: rgb(174 165 199 / 10%);
   background-color: rgb(176 172 189 / 10%);
   padding: 1em;
   border-radius: 4px;
   color: #747485;
   color: #666676;
   font-size: .875em;
}

.h-jp {
   /* color: #7185c7; */
   /* color: #757bc1; */
   /* color: #697dc0; */
   /* color: #637ac7; */
   transition: all .1s ease;
   font-family: 'Noto Serif JP', serif;
   /* font-family: 'Mochiy Pop One', sans-serif;
   font-family: 'Zen Antique Soft', serif;
   font-family: 'Kaisei Tokumin', serif;
   font-family: 'Murecho', sans-serif;
   font-family: 'M PLUS 2', sans-serif;
   font-family: 'Kosugi', sans-serif; */
   /* color: #5c6fac; */
   /* color: #5d6baa; */
   /* color: #8f6c94;
   /* color: #8f6c94; */
   /* color: #575681; */
}

.p-jp {
   transition: all .1s ease;
   font-family: 'Noto Serif JP', serif;
   font-size: 12px;
}

.kanna-img {
   width: 100%;
   /* margin-top: 1em; */
   margin-bottom: -0.35em;
   opacity: .3;
   /* transform: scaleX(-1); */
   /* margin: auto;
   display: block;
   width: 80%; */
}

.discord-widget-default {
   width: 100%;
   min-height: 340px;
   /* margin: 1em 0; */
}

.yt-video {
   border-radius: 2px;
   width: 100%;
   height: 360px;
}

.codeblock {
   background-color: #242533;
   padding: 1em;
   border-radius: 3px;
   font-family: 'Source Code Pro', monospace;
}

.codeblock p {
   text-indent: 0;
   margin: 0;
   color: #6e6e82;
   color: #9b9baf;
   color: #aeaec1;
   color: #22c98b;
   color: #25e59e;
   color: #08e996;
   color: #0ed38a;
   color: #0adb8d;
   font-size: 13px;
   line-height: 1.55;
}

.codeblock-comment {
   color: #7effcf;
   color: #2a6251;
}

.author-img {
   display: flex;
   justify-content: center;
   background-color: #a99fad;
   background-color: rgb(169 159 173 / 60%);
   border-radius: 3px;
   border-radius: 4px;
   margin-top: .875em;
   background-color: rgb(157 150 169 / 50%);
   background-color: #282826;
   background-color: #262928;
   /* margin-top: .5em; */
}

.author-img img {
   width: 80%;
   width: 82%;
   width: 76%;
   transform: scaleX(-1);
}

.post p.post-author {
   text-indent: 0;
   font-size: 14px;
   font-size: 12.5px;
   margin-top: 1.125em;
   margin-top: 1.25em;
   margin-bottom: 0;
   color: rgb(62 62 80 / 50%);
   text-align: center;
}

.post p.post-author a {
   color: rgb(62 62 80 / 80%);
   transition: all .2s ease;
}

.post p.post-author a:hover {
   color: #3e3e50;
   color: rgb(62 62 80 / 90%);
   color: #5c74c4;
   color: #4d62a8;
   /* color: #5c76bf; */
   /* color: #5161af; */
   /* color: #465499; */
   text-decoration: none;
}

.post p.post-author i {
   margin-left: .375em;
   font-size: 13px;
}

/* ---------- DISCORD WIDGET ---------- */
.discord-widget {
   color: #fff;
   background-color: #202225;
   border-radius: 5px;
   border-radius: 3px;
   border-radius: 6px;
}

.discord-widget-header,
.discord-widget-body,
.discord-widget-footer {
   padding: 1em;
}

.discord-widget-header {
   background-image: linear-gradient(45deg, blue, green);
   background-image: linear-gradient(20deg, #5865f2, #737fff);
   background-image: linear-gradient(20deg, #6b73cd, #9ea6f9);
   background-image: linear-gradient(20deg, #6b7ccd, #a8aef3);

   background-image: linear-gradient(20deg, #6b7ccd, #a8b5f3);
   background-image: linear-gradient(20deg, #6677cd, #a8b5f3);
   background-image: linear-gradient(20deg, #5b74cf, #a8b5f3);

   background-image: linear-gradient(20deg, #5b74cf, #98a3db);
   background-image: linear-gradient(20deg, #5b74cf, #8998e3);
   background-image: linear-gradient(20deg, #5b74cf, #8e89e3);
   background-image: linear-gradient(20deg, #6b80cd, #8180c5);
   background-image: linear-gradient(20deg, #7289da, #8180c5);
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.8em 1em 0.75em;
   padding: 0.9em 1em 0.775em;
}

.discord-widget-logo {
   width: 120px;
   /* width: 116px; */
}

.discord-widget-body {
   box-shadow: 0 1px 0 rgb(0 0 0 / 20%);
   background-image: url('../img/discord-watermark-left.png'),
   url('../img/discord-watermark-right.png');
   background-size: 200px 180px, 110px 130px;
   background-position: 0 100%, 100% 100%;
   background-repeat: no-repeat, no-repeat;
   flex: 1;
   overflow-y: scroll;
}

.discord-widget-body.sm {
   background-size: 180px 162px, 90px 106px;
}

.discord-widget-body.lg {
   background-size: 260px 234px, 170px 201px;
}

.discord-widget-body::after {
   /* content: url('assets/img/discord-watermark-left'); */
   /* display: block; */
   /* content: "";
   background: url('assets/img/discord-watermark-left') no-repeat;
   width: 100px;
   height: 100px; */
}

.online-member-count {
   font-size: 14px;
   font-size: 13px;
}

.discord-widget h3 {
   margin-top: 0;
}

.member-list-title {
   font-size: 12px !important;
   opacity: .6;
   letter-spacing: .125px;
   margin-bottom: 0.25em !important;
}

.discord-widget-user {
   display: flex;
   align-items: center;
   cursor: pointer;
   /* margin-bottom: .5em; */
   padding: 0.25em;
   padding: 0.375em .5em;
   padding: 0.275em .5em;
}

.discord-widget-user:hover {
   background-color: rgb(0 0 0 / 12%);
   background-color: #1c1e20;
   background-color: rgb(28 30 32 / 90%);
   backdrop-filter: blur(5px);
   border-radius: 3px;
   padding: 0.25em;
   padding: 0.375em .5em;
   padding: 0.275em .5em;
}

.discord-widget-user:hover .discord-widget-user-name {
   opacity: .9;
}

.discord-widget-user-img-wrap {
   position: relative;
   display: flex;
}

.discord-widget-user-img {
   border-radius: 50%;
   width: 28px;
   width: 24px;
}

.discord-widget-user-status {
   width: 7px;
   height: 7px;
   border-radius: 50%;
   position: absolute;
   bottom: 0;
   right: 0;
}

.discord-widget-user-status.busy {
   background-color: #e73b32;
}

.discord-widget-user-status.idle {
   background-color: #ffa622;
}

.discord-widget-user-status.online {
   background-color: #1faa50;
}

.discord-widget-owner {
   color: #ffb222;
   font-size: 11.5px;
   margin-left: 0.325em;
   margin-left: 0.275em;
}

.discord-widget-user-name {
   font-size: 14px;
   font-size: 13px;
   opacity: .6;
   transition: all .1s ease;
   cursor: pointer;
   margin-left: 8px;
}

.discord-widget-footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0 -1px 18px rgb(0 0 0 / 20%), 0 -1px 0 rgb(0 0 0 / 20%);
   padding: 0.4em 1em;
   font-size: 13px;
}

.discord-widget-footer-p {
   opacity: .1;
}

.discord-widget-footer a {
   color: white;
   font-weight: 400;
}

.discord-widget-footer a:hover {
   text-decoration: none;
}

.discord-connect-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 120px;
   height: 30px;
   border: 1px solid #212325;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: hsla(0, 0%, 100%, .1);
   box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 4%);
   transition: all .2s ease;
   cursor: pointer;
}

.discord-connect-btn:hover {
   opacity: .6;
   text-decoration: none;
}

/* ---------- CONTACT INFO ---------- */
.contact-person {
   display: flex;
   align-items: center;
}

.contact-person-img {
   width: 120px;
   height: 120px;
   border-radius: 6px;
   border-radius: 50%;
   margin-right: 1em;
   border-radius: 12%;
   border-radius: 6px;
   margin-right: 1.25em;
}

.contact-name {
   margin: 0 0 .25em;
   font-size: 16px;
}

.contact-details {
   margin: 0;
}

.discord-widget.sidebar .discord-widget-footer-p {
   font-size: 12px;
   line-height: 1.15;
}

/* ---------- GLOBAL NAV ---------- */

.global-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.5em 2em;
   background-color: #f8f4f9;
   background-color: rgb(251 251 251 / 92%);
   background-color: #cfc4d0;
   background-color: #cbc4d0;
   background-color: rgb(185 180 193 / 85%);
   background-color: rgb(206 203 217 / 85%);
   background-color: #fcfbfd;
   background-color: rgb(252 251 253 / 90%);
   /* background-color: rgba(253, 252, 253, 0.8); */
   /* background-color: rgba(253, 252, 253, 0.7); */
   /* box-shadow: 0 2px 6px rgb(134 136 161 / 5%);
   box-shadow: 0 2px 6px rgb(108 109 118 / 5%);
   box-shadow: 0 2px 4px rgb(86 87 94 / 8%);
   box-shadow: 0 2px 4px rgb(86 87 94 / 6%); */
   background-color: rgba(253, 252, 253, 0.9);
   background-color: rgb(203 200 215 / 60%);
   background-color: rgb(216 214 223 / 60%);
   position: sticky;
   top: 0;
   z-index: 9999;
   backdrop-filter: saturate(180%) blur(20px);
   backdrop-filter: blur(20px);
}
.global-root {
   cursor: pointer;
}
.global-root:hover {
   text-decoration: none;
}
.brand {
   display: flex;
   align-items: center;
}
.brand-logo {
   width: 36px;
   width: 32px;
   /* width: 48px; */
}
.brand-name {
   font-size: 1.5em;
   font-size: 1.425em;
   font-size: 1.4em;
   font-size: 1.375em;
   /* font-size: 1.325em; */
   margin: 0 0 0 .375em;
   margin: 0 0 0 .35em;
   color: #44487a;
   color: #5d5f74;
   /* color: #6c6e87; */
   /* color: #777991; */
   font-family: 'EB Garamond', serif;
   font-weight: 600;
}
.global-navlinks {
   margin: 0;
   list-style-type: none;
   padding: 0;
   display: flex;
}
.global-navlinks li {
   margin-left: 1.375em;
   font-weight: 600;
   color: #44487a;
   transition: all .1s ease;
   cursor: pointer;
}
.global-navlinks li:hover {
   color: #4d5eaf;
}
.global-navlinks a:hover {
   text-decoration: none;
}

.header-intro {
   width: 80%;
   margin: 1em auto;
   /* line-height: 1.65; */
   color: rgb(62 62 80 / 85%);
   /* color: #52526a;  */
}

.header-intro-topics {
   margin: auto;
   display: block;
   margin-top: 1.625em;
   /* margin-bottom: 3em; */
   /* margin-bottom: 3.25em; */
}

.tag {
   padding: .075em .5em .1em;
   padding: .025em .375em .1em;
   padding: .0375em .375em .1em;
   margin: 0 0.25em;
   margin: 0 0.375em;
   margin: 0 0.425em;
   border-radius: 3px;
   background-color: white;
   color: #ffffff;
   padding: 0.5em 0.75em 0.6em;
   padding: 0.625em 0.875em 0.675em;
   padding: 0.625em 1em 0.675em;
   padding: 0.525em 1em 0.625em;
   padding: 0.55em 1em 0.6375em;
   border-radius: 4px;
   transition: all .175s ease;
   cursor: pointer;
}

.tag:hover {
   box-shadow: 1px 1px 4px rgb(86 87 94 / 80%);
}

.royalblue-light {
   background-color: #576bc9;
   background-color: #6074d5;
   /* border: 1px solid #5a6bc1; */
}
.royalblue-light:hover {
    background-color: #4e62c1;
    background-color: #4558b8;
    background-color: #4a5dbe;
    background-color: #4c5fc0;
}
.teal {
   background-color: #3da4a9;
   background-color: #399ea3;
   /* border: 1px px solid #2f9297; */
}
.teal:hover {
   background-color: #28888d;
}
.red-violet {
   background-color: #a13c82;
   background-color: #a9448a;
   background-color: #ad4d8f;
   background-color: #913b76;
   /* border: 1px solid #87326b; */
   /* background-color: #914479; */
}
.red-violet:hover {
   background-color: #783062;
   background-color: #7e3468;
   background-color: #813269;
   background-color: #7e2e66;
}
.violet {
   background-color: #6c4e9d;
   background-color: #8e53ad;
   background-color: #8253ad;
   background-color: #7a53ad;
   background-color: #734da5;
   background-color: #7858a3;
   background-color: #6c55b3;
   background-color: #6651a7;
   background-color: #5d53af;
   background-color: #585099;
   background-color: #524a8a;
   /* border: 1px solid #463d7a; */
}
.violet:hover {
   background-color: #443d77;
   background-color: #403a70;
}
.blue-light {
   background-color: #4c8fd5;
   background-color: #4c9cd5;
   border: 1px solid #4692c9;
}
.blue-light:hover {
   background-color: #3e89bf;
}

/* ---------- Utilities ---------- */
.tc { 
   text-align: center; 
}
.fs1 {
   font-size: 1em;
       font-size: 1.025em;
}
.fs09375 {
   font-size: .9375em;
}
.fs0875 {
   font-size: .875em;
}
.fs075 {
   font-size: .75em;
}
.ar {
   text-align: right;
}
.ac {
   text-align: center;
}
.mtn0875 {
   margin-top: -0.875em;
}
.fw500 {
   font-weight: 500;
}
.fw600 {
   font-weight: 600;
}
.fw700 {
   font-weight: 700;
}
.i0 {
   text-indent: 0;
}